[Unit]
Description=celery daemon
Requires=redis.service
After=network.target redis.service

[Service]
User=www
Group=www-data
WorkingDirectory=/home/www/code/project
ExecStart=/home/www/code/project/bin/start_celery.sh
Restart=always

[Install]
WantedBy=multi-user.target redis.service
